<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>iClicker Plays Pokemon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/GameBoy.css" type="text/css" rel="stylesheet"/>
  <script type="text/javascript" src="/static/js/other/windowStack.js"/>
  <script type="text/javascript" src="/static/js/other/terminal.js"/>
  <script type="text/javascript" src="/static/js/other/gui.js"/>
  <script type="text/javascript" src="/static/js/other/base64.js"/>
  <script type="text/javascript" src="/static/js/other/json2.js"/>
  <script type="text/javascript" src="/static/js/other/swfobject.js"/>
  <script type="text/javascript" src="/static/js/other/resampler.js"/>
  <script type="text/javascript" src="/static/js/other/XAudioServer.js"/>
  <script type="text/javascript" src="/static/js/other/resize.js"/>
  <script type="text/javascript" src="/static/js/GameBoyCore.js"/>
  <script type="text/javascript" src="/static/js/GameBoyIO.js"/>
  <script type="text/javascript">
  var DEBUG_MESSAGES = false;
  var DEBUG_WINDOWING = false;
  window.onload = function () {
      windowingInitialize();
  }
  </script>
</head>
<body>
  <!--nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav-->

<script type="text/javascript">
	(function() {
		var games = ["Pokemon"];
		var gamei = -1;
		setInterval(function() {
			$("#welcome h1 span.pokemon").innerHTML = games[(++gamei)%games.length];
		}, 5000);
	})();
</script>
  <div class="section no-pad-bot light-green lighten-4" id="welcome">
    <div class="container">
      <br><br>
      <h1 class="header center"><span class='iclicker'>iClicker</span> Plays <span class='pokemon' style='text-decoration: underline'>Pokemon</span></h1>

      <div class="row center">
        
      </div>
      <div class="row center">
        <button id="start-button" class="btn-large waves-effect waves-light blue">Start</a>
      </div>
      <br><br>

    </div>

  </div>

  <div class="section no-pad-bot light-green lighten-4" id="setup">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">videogame_asset</i></h2>
              <h3 class="center">Choose a ROM</h3>

              <select id="rom-selector">
                <option value="pokemony">Pokemon Yellow</option>
                <option value="pokemong">Pokemon Gold</option>
                <option value="tetris">Tetris</option>
                <option value="snake">Snake</option>
              </select>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">settings_remote</i></h2>
              <h3 class="center">iClicker</h3>

              <center>
                <h5>Response Mode:</h5>
                <div style="width: 150px">
                  <select id="iclicker-mode">
                    <option value="alphanumeric" default>Alphanumeric</option>
                    <option value="alpha">Alpha</option>
                  </select>
                </div>
              </center>
              <br />
              <br />

              <center>
                <h5>Channel:</h5>
                <input type="text" maxlength="2" value="AB" pattern="[A-Da-d]{2}" class="iclicker-channel" id="iclicker-channel" />
              </center>

            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">settings</i></h2>
              <h3 class="center">General Settings</h3>

              <center>
                <h5>Game Mode:</h5>
                <div class="width: 150px">
                  <select id="game-mode">
                    <option value="anarchy">Anarchy</option>
                  </select>
                </div>
              </center>
            </div>
          </div>
        </div>

        <div class="row">
          <center>
            <br />
            <button id="start-button" class="btn-large waves-effect waves-light blue">Start Game</button>
          </center>
        </div>

      </div>
    </div>
  </div>

<div class="section no-pad-bot light-green lighten-4" id="game">
    <div class="container">
      <div class="section">

        <div class="loading light-green lighten-2">
          <div style="padding: 10px">
            <h4>Connecting...</h4>
            <pre id="loading-info"></pre>
          </div>
        </div>

        <div class="connect-popup light-green lighten-2">
          <div style="padding: 10px" class="container">
            <div class="row"><h2>To pair your remotes...</h2></div>
            <div class="row">
              <div class="col s12 m4 iclicker-background">
                &nbsp;

              </div>
              <div class="col s12 m8" style="font-size: 1.5em">
                <ul>
                  <li>Turn the device on using the <b>POWER</b> button</li>
                  <li>Hold <b>POWER</b> for 3 seconds</li>
                  <li>Using the buttons, enter code: <span style="font-size: 50px" id="ui-clicker-channel"></span></li>
                  <li>Hit the <b>DELETE</b> button to clear your screen</li>
                  <li>Hit the <b>SEND</b> button to pair the remote</li>
                  <li>You can continue to connect remotes after this screen by connecting to the channel and inputting an answer with either the buttons or up and down arrow keys</li>
                </ul>
                <br />
                <button class="btn-large waves-effect waves-light blue" onclick="$('.connect-popup').style.display='none'">&nbsp; OK &nbsp;</button>
              </div>
            </div>
          </div>
        </div>

        

        <div class="row">
          <div class="col s12 m9">
            <div id="GameBoy" class="window">
            <div id="gfx">
                <canvas id="mainCanvas"/>
                <!--
                  <li>X/J are A.</li>
                    <li>Z/Y/Q are B.</li>
                    <li>Shift is Select.</li>
                    <li>Enter is Start.</li>
                    <li>The d-pad is the control pad.</li>
                    <li>The escape key (esc) allows you to get in and out of fullscreen mode.</li>
                -->
            </div>
        </div>
        
        <div id="fullscreenContainer">
            <canvas id="fullscreen" class="maximum"/>
        </div>

            <br />
            <h5>Controls:</h5>
            <table class='d-pad-table' border=1>
              <tr>
              <td></td>
              <td class='h up-arrow'>.</td>
              </tr>
              <tr>
              <td class='h left-arrow'>.</td><td></td><td class='h right-arrow'>.</td>
              <td></td><td></td>
              <td class='h a-button'>.</td>
              </tr>
              <tr>
              <td></td><td class='h down-arrow'>.</td>
              <td></td><td></td>
              <td class='h b-button'>.</td>
              </tr>
            </table>
          </div>

          <div class="col s12 m3">
            <div class="remote-count">
              <span id="ui-remote-count">0</span><br />
              Connected iClickers
            </div>
            <br />

            <div class="remote-actions">
              <ul id="remote-actions" class="collection">

              </ul>
            </div>

            <br />
            <div class="mode-display">
              Game Mode:<br />
              <div id="ui-mode"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



	<div id="footer" class="light-green lighten-2">
	  <div class="container">
	  <span>by <a href="https://wogloms.com">James Woglom</a> and <a href="http://rybicki.io">Chris Rybicki</a></span>
	  <div style="float: right"><a href="https://github.com/jwoglom/hackum17">GitHub Source</a> - GPL</div>
	  </div>
	</div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/materialize.js"></script>
  <script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function() {
      jQuery('select').material_select();
    });
  </script>
  <script src="/static/main.js"></script>

  </body>
</html>
