<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>iClicker Plays Pokemon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/windowStack.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/terminal.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/gui.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/base64.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/json2.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/swfobject.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/resampler.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/XAudioServer.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/other/resize.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/GameBoyCore.js"></script>
  <script type="text/javascript" src="/static/GameBoy-Online/js/GameBoyIO.js"></script>
  <script type="text/javascript">
    var DEBUG_MESSAGES = false;
    var DEBUG_WINDOWING = false;
  </script>
</head>
<body>
  <!--nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav-->

  <script type="text/javascript">
   (function() {
    var games = ["Pokemon"];
    var gamei = -1;
    setInterval(function() {
     $("#welcome h1 span.pokemon").innerHTML = games[(++gamei)%games.length];
   }, 5000);
  })();
</script>
<div class="section no-pad-bot light-green lighten-4" id="welcome">
  <div class="container">
    <br><br>
    <h1 class="header center"><span class='iclicker'>iClicker</span> Plays <span class='pokemon' style='text-decoration: underline'>Pokemon</span></h1>

    <div class="row center">

    </div>
    <div class="row center">
      <button id="start-button" class="btn-large waves-effect waves-light blue">Start</a>
      </div>
      <br><br>

    </div>

  </div>

  <div class="section no-pad-bot light-green lighten-4" id="setup">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">videogame_asset</i></h2>
              <h3 class="center">Choose a ROM</h3>

              <select id="rom-selector">
                <option value="tetris">Tetris</option>
                <option value="pokemony">Pokemon Yellow</option>
                <option value="pokemong">Pokemon Gold</option>
                <option value="snake">Snake</option>
              </select>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">settings_remote</i></h2>
              <h3 class="center">iClicker</h3>

              <center>
                <h5>Response Mode:</h5>
                <div style="width: 150px">
                  <select id="iclicker-mode">
                    <option value="alphanumeric" default>Alphanumeric</option>
                    <option value="alpha">Alpha</option>
                  </select>
                </div>
              </center>
              <br />
              <br />

              <center>
                <h5>Channel:</h5>
                <input type="text" maxlength="2" value="AB" pattern="[A-Da-d]{2}" class="iclicker-channel" id="iclicker-channel" />
              </center>

            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">settings</i></h2>
              <h3 class="center">General Settings</h3>

              <center>
                <h5>Game Mode:</h5>
                <div class="width: 150px">
                  <select id="game-mode">
                    <option value="anarchy">Anarchy</option>
                  </select>
                </div>
              </center>
            </div>
          </div>
        </div>

        <div class="row">
          <center>
            <br />
            <button id="start-button" class="btn-large waves-effect waves-light blue">Start Game</button>
          </center>
        </div>

      </div>
    </div>
  </div>

  <div class="section no-pad-bot light-green lighten-4" id="game">
    <div class="container">
      <div class="section">

        <div class="loading light-green lighten-2">
          <div style="padding: 10px">
            <h4>Connecting...</h4>
            <pre id="loading-info"></pre>
          </div>
        </div>

        <div class="connect-popup light-green lighten-2">
          <div style="padding: 10px" class="container">
            <div class="row"><h2>To pair your remotes...</h2></div>
            <div class="row">
              <div class="col s12 m4 iclicker-background">
                &nbsp;

              </div>
              <div class="col s12 m8" style="font-size: 1.5em">
                <ul>
                  <li>Turn the device on using the <b>POWER</b> button</li>
                  <li>Hold <b>POWER</b> for 3 seconds</li>
                  <li>Using the buttons, enter code: <span style="font-size: 50px" id="ui-clicker-channel"></span></li>
                  <li>Hit the <b>DELETE</b> button to clear your screen</li>
                  <li>Hit the <b>SEND</b> button to pair the remote</li>
                  <li>You can continue to connect remotes after this screen by connecting to the channel and inputting an answer with either the buttons or up and down arrow keys</li>
                </ul>
                <br />
                <button class="btn-large waves-effect waves-light blue" onclick="$('.connect-popup').style.display='none'">&nbsp; OK &nbsp;</button>
              </div>
            </div>
          </div>
        </div>

        

        <div class="row">
          <div class="col s12 m9">
            <div id="GameBoy" class="window">
              <div id="gfx">
                <canvas id="mainCanvas"></canvas>
              </div>

              <div id="fullscreenContainer">
                <canvas id="fullscreen" class="maximum"></canvas>
              </div>

              <div style="display: none; position: absolute;top:-9999px; left:-9999px">
                <div class="menubar">
                  <span id="GameBoy_file_menu">File</span>
                  <span id="GameBoy_settings_menu">Settings</span>
                  <span id="GameBoy_view_menu">View</span>
                  <span id="GameBoy_about_menu">About</span>
                </div>
                <div id="gfx">
                  <span id="title">GameBoy</span>
                  <span id="port_title">Online</span>
                </div>
                <div id="terminal" class="window">
                  <div id="terminal_output"></div>
                  <div class="button_rack">
                    <button id="terminal_clear_button" class="left">Clear Messages</button>
                    <button id="terminal_close_button" class="right">Close Terminal</button>
                  </div>
                </div>
                <div id="about" class="window">
                  <div id="about_message">
                    <h1>GameBoy Online</h1>
                    <p>This is a GameBoy Color emulator written purely in JavaScript by Grant Galitz.</p><p>The graphics blitting is done through HTML5 canvas, with the putImageData and drawImage functions.</p><p>Save states are implemented through the window.localStorage object, and are serialized/deserialized through JSON. SRAM saving is also implemented through the window.localStorage object, and are serialized/deserialized through JSON. In order for save states to work properly on most browsers, you need set the maximum size limit for DOM storage higher, to meet the needs of the emulator's save data size.</p><p>For more information about this emulator and its source code, visit the GIT repository at: <a href="https://github.com/taisel/GameBoy-Online" target="_blank">https://github.com/taisel/GameBoy-Online</a>.
                    </p>
                  </div>
                  <div class="button_rack">
                    <button id="about_close_button" class="center">Close Popup</button>
                  </div>
                </div>
                <div class="window" id="settings">
                  <div id="toggle_settings">
                    <div class="setting">
                      <span>Enable Sound:</span>
                      <input type="checkbox" checked="checked" id="enable_sound"/>
                    </div>
                    <div class="setting">
                      <span>GB mode has priority over GBC mode:</span>
                      <input type="checkbox" id="disable_colors"/>
                    </div>
                    <div class="setting">
                      <span>Use the BIOS ROM:</span>
                      <input type="checkbox" checked="checked" id="enable_gbc_bios"/>
                    </div>
                    <div class="setting">
                      <span>Override ROM only cartridge typing to MBC1:</span>
                      <input type="checkbox" checked="checked" id="rom_only_override"/>
                    </div>
                    <div class="setting">
                      <span>Always allow reading and writing to the MBC banks:</span>
                      <input type="checkbox" checked="checked" id="mbc_enable_override"/>
                    </div>
                    <div class="setting">
                      <span>Colorize Classic GameBoy Palettes:</span>
                      <input type="checkbox" checked="checked" id="enable_colorization"/>
                    </div>
                    <div class="setting">
                      <span>Minimal view on fullscreen:</span>
                      <input type="checkbox" checked="checked" id="do_minimal"/>
                    </div>
                    <div class="setting">
                      <span>Resize canvas directly in JavaScript:</span>
                      <input type="checkbox" id="software_resizing"/>
                    </div>
                    <div class="setting">
                      <span>Disallow typed arrays to be used:</span>
                      <input type="checkbox" id="typed_arrays_disallow"/>
                    </div>
                    <div class="setting">
                      <span>Use the DMG boot ROM instead of CGB:</span>
                      <input type="checkbox" id="gb_boot_rom_utilized"/>
                    </div>
                    <div class="setting">
                      <span>Smooth upon resizing canvas:</span>
                      <input type="checkbox" checked="checked" id="resize_smoothing"/>
                    </div>
                    <div class="setting">
                      <span>Enable Channel 1 Audio:</span>
                      <input type="checkbox" checked="checked" id="channel1"/>
                    </div>
                    <div class="setting">
                      <span>Enable Channel 2 Audio:</span>
                      <input type="checkbox" checked="checked" id="channel2"/>
                    </div>
                    <div class="setting">
                      <span>Enable Channel 3 Audio:</span>
                      <input type="checkbox" checked="checked" id="channel3"/>
                    </div>
                    <div class="setting">
                      <span>Enable Channel 4 Audio:</span>
                      <input type="checkbox" checked="checked" id="channel4"/>
                    </div>
                  </div>
                  <div class="button_rack">
                    <button id="settings_close_button" class="center">Close Settings</button>
                  </div>
                </div>
                <div id="instructions" class="window">
                  <div id="keycodes">
                    <h1>Keyboard Controls:</h1>
                    <ul>
                      <li>X/J are A.</li>
                      <li>Z/Y/Q are B.</li>
                      <li>Shift is Select.</li>
                      <li>Enter is Start.</li>
                      <li>The d-pad is the control pad.</li>
                      <li>The escape key (esc) allows you to get in and out of fullscreen mode.</li>
                    </ul>
                  </div>
                  <div class="button_rack">
                    <button id="instructions_close_button" class="center">Close Instructions</button>
                  </div>
                </div>
                <div id="input_select" class="window">
                  <form>
                    <input type="file" id="local_file_open"/>
                  </form>
                  <div class="button_rack">
                    <button id="input_select_close_button" class="center">Close File Input</button>
                  </div>
                </div>
                <div id="save_importer" class="window">
                  <form>
                    <input type="file" id="save_open"/>
                  </form>
                  <div class="button_rack">
                    <button id="save_importer_close_button" class="center">Close Save Importer</button>
                  </div>
                </div>
                <div class="window" id="local_storage_listing">
                  <div id="storageListingMasterContainer" class="storageList">
                    <div id="storageListingMasterContainerSub"/>
                  </div>
                  <div id="download_all_storage">
                    <a href="about:blank" id="download_local_storage_dba">Export all saved data.</a>
                  </div>
                  <div class="button_rack">
                    <button id="local_storage_list_refresh_button" class="left">Refresh List</button>
                    <button id="local_storage_list_close_button" class="right">Close Storage List</button>
                  </div>
                </div>
                <div class="window" id="local_storage_popup">
                  <div id="storagePopupMasterParent" class="storageList">
                    <div id="storagePopupMasterContainer"/>
                  </div>
                  <div class="button_rack">
                    <button id="local_storage_popup_close_button" class="center">Close Storage Popup</button>
                  </div>
                </div>
                <div class="window" id="freeze_listing">
                  <div id="freezeListingMasterContainer" class="storageList">
                    <div id="freezeListingMasterContainerSub"/>
                  </div>
                  <div class="button_rack">
                    <button id="freeze_list_refresh_button" class="left">Refresh List</button>
                    <button id="freeze_list_close_button" class="right">Close Freeze State List</button>
                  </div>
                </div>
                <ul class="menu" id="GameBoy_file_popup">
                  <li>Open As<ul class="menu">
                    <li id="data_uri_clicker">Base 64 Encoding</li>
                    <li id="internal_file_clicker">Local File</li>
                  </ul></li>
                  <li id="save_SRAM_state_clicker">Save Game Memory</li>
                  <li id="save_state_clicker">Save Freeze State</li>
                  <li id="set_volume">Set Volume</li>
                  <li id="set_speed">Set Speed</li>
                  <li id="restart_cpu_clicker">Restart</li>
                  <li id="run_cpu_clicker">Resume</li>
                  <li id="kill_cpu_clicker">Pause</li>
                </ul>
                <ul class="menu" id="GameBoy_view_popup">
                  <li id="view_terminal">Terminal</li>
                  <li id="view_instructions">Instructions</li>
                  <li id="view_importer">Save Importer</li>
                  <li id="local_storage_list_menu">Save Manager</li>
                  <li id="freeze_list_menu">Freeze State Manager</li>
                  <li id="view_fullscreen">Fullscreen Mode</li>
                </ul>
              </div>

            </div>
                <!--
                  <li>X/J are A.</li>
                    <li>Z/Y/Q are B.</li>
                    <li>Shift is Select.</li>
                    <li>Enter is Start.</li>
                    <li>The d-pad is the control pad.</li>
                    <li>The escape key (esc) allows you to get in and out of fullscreen mode.</li>
                  -->

                </div>
              </div>
            </div>

              <br />
              <h5>Controls:</h5>
              <table class='d-pad-table' border=1>
                <tr>
                  <td></td>
                  <td class='h up-arrow'>.</td>
                </tr>
                <tr>
                  <td class='h left-arrow'>.</td><td></td><td class='h right-arrow'>.</td>
                  <td></td><td></td>
                  <td class='h a-button'>.</td>
                </tr>
                <tr>
                  <td></td><td class='h down-arrow'>.</td>
                  <td></td><td></td>
                  <td class='h b-button'>.</td>
                </tr>
              </table>
            </div>

            <div class="col s12 m3">
              <div class="remote-count">
                <span id="ui-remote-count">0</span><br />
                Connected iClickers
              </div>
              <br />

              <div class="remote-actions">
                <ul id="remote-actions" class="collection">

                </ul>
              </div>

              <br />
              <div class="mode-display">
                Game Mode:<br />
                <div id="ui-mode"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="footer" class="light-green lighten-2">
     <div class="container">
       <span>by <a href="https://wogloms.com">James Woglom</a> and <a href="http://rybicki.io">Chris Rybicki</a></span>
       <div style="float: right"><a href="https://github.com/jwoglom/hackum17">GitHub Source</a> - GPL</div>
     </div>
   </div>

   <!--  Scripts-->
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="/static/materialize.js"></script>
   <script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function() {
      jQuery('select').material_select();
    });
  </script>
  <script src="/static/main.js"></script>
  
</body>
</html>
