<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>iClicker Plays Pokemon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!--nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav-->

<script type="text/javascript">
	(function() {
		var games = ["Pokemon"];
		var gamei = -1;
		setInterval(function() {
			$("#welcome h1 span.pokemon").innerHTML = games[(++gamei)%games.length];
		}, 5000);
	})();
</script>
  <div class="section no-pad-bot light-green lighten-4" id="welcome">
    <div class="container">
      <br><br>
      <h1 class="header center"><span class='iclicker'>iClicker</span> Plays <span class='pokemon' style='text-decoration: underline'>Pokemon</span></h1>

      <div class="row center">
        
      </div>
      <div class="row center">
        <button id="start-button" class="btn-large waves-effect waves-light blue">Start</a>
      </div>
      <br><br>

    </div>

  </div>

  <div class="section no-pad-bot light-green lighten-4" id="setup">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">videogame_asset</i></h2>
              <h3 class="center">Choose a ROM</h3>

              <select id="rom-selector">
                <option value="pokemon">Pokemon</option>
                <option value="pokemon">Pokemon</option>
                <option value="pokemon">Pokemon</option>
                <option value="pokemon">Pokemon</option>
                <option value="pokemon">Pokemon</option>
              </select>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">settings_remote</i></h2>
              <h3 class="center">iClicker</h3>

              <center>
                <h5>Mode:</h5>
                <div style="width: 150px">
                  <select id="iclicker-mode">
                    <option value="alphanumeric" default>Alphanumeric</option>
                    <option value="alpha">Alpha</option>
                  </select>
                </div>
              </center>
              <br />
              <br />

              <center>
                <h5>Channel:</h5>
                <input type="text" maxlength="2" value="AB" pattern="[A-Da-d]{2}" class="iclicker-channel" id="iclicker-channel" />
              </center>

            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large material-icons">settings</i></h2>
              <h3 class="center">General Settings</h3>

              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <center>
            <br />
            <br />
            <br />
            <br />
            <button id="start-button" class="btn-large waves-effect waves-light blue">Start Game</button>
          </center>
        </div>

      </div>
    </div>
  </div>

<div class="section no-pad-bot light-green lighten-4" id="setup">
    <div class="container">
      <div class="section">

        <div class="loading">
          <h2>Connecting...</h2>
          <pre id="loading-info"></pre>
        </div>

      </div>
    </div>
  </div>



	<div id="footer" class="light-green lighten-2">
	  <div class="container">
	  <span>by <a href="https://wogloms.com">James Woglom</a> and <a href="http://rybicki.io">Chris Rybicki</a></span>
	  <div style="float: right"><a href="https://github.com/jwoglom/hackum17">GitHub Source</a> - GPL</div>
	  </div>
	</div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/materialize.js"></script>
  <script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function() {
      jQuery('select').material_select();
    });
  </script>
  <script src="/static/main.js"></script>

  </body>
</html>
