<script>
	window.$ = document.querySelector.bind(document);
	window.$$ = document.querySelectorAll.bind(document);

    var socket = new WebSocket('ws://' + window.location.host + '/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
      $("#log").innerHTML += "WS connection created\n";

      sendMessage("message_back", {"text": "Hello from "+navigator.userAgent+" at "+(+new Date)});
    };

    sendMessage = function(type, data) {
    	var str = JSON.stringify(Object.assign(data, {
    		"type": type
    	}));
    	socket.send(str);
    	$("#log").innerHTML += "sent: "+str+"\n";
    }

    startPoll = function() {
    	sendMessage('start_poll', {
    		"poll_type": "alphanumeric",
    		"channel": "ab",
    		"name": "Pokemon"
    	});
    }

    stopPoll = function() {
    	sendMessage('stop_poll', {});
    }

    sendPing = function() {
    	sendMessage('message_back', "Hello from "+navigator.userAgent+" at "+(+new Date));
    }

    socket.onmessage = function message(event) {
    	var data = JSON.parse(event.data);
    	console.log('MESSAGE DATA:', data);
    	$("#log").innerHTML += "message: "+JSON.stringify(data)+"\n";
    }

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
</script>
<button onclick="startPoll()">Start Poll</button>
<button onclick="stopPoll()">Stop Poll</button>
<button onclick="sendPing()">Send Ping</button>
<br />
<textarea style="width: 600px; height: 600px" id="log"></textarea>