body > div.section:not(#welcome) {
	display: none;
}

.section {
	min-height: 97vh;
}
#welcome > .container {
	margin-top: 25vh;
}
#welcome h1 {
	color: #666666;
}
#welcome h1 .iclicker {
    background: url(https://www.iclicker.com/_img/ic-logo.svg);
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    width: 258px;
    background-size: auto 53px;
    background-position: center 5px;
}

#setup {

}

input.iclicker-channel {
	border: 0 !important;
    font-size: 4em !important;
    font-weight: bold;
    width: 1.5em !important;
    text-transform: uppercase;
}


.loading {
    position: fixed;
    top: 77vh;
    left: 35vw;
    
    height: 20vh;
    width: 30vw;
}

.remote-count {
    border: 1px solid black;
    text-align: center;
    width: 150px;
}

#ui-remote-count {
    font-size: 42px;
}

.connect-popup {
    display: none;
    position: absolute;
    top: 15vh;
    left: 15vw;

    height: 70vh;
    width: 70vw;
    z-index: 10;
}

.connect-popup ul, .connect-popul ul li {
    list-style-type: initial !important;
}

.connect-popup ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.iclicker-background {
    display: inline-block;
    background: url(/static/iclicker.png);
    background-repeat: no-repeat;
    height: 40vh;
    background-size: auto 40vh;
    background-position: center center;
}

#remote-actions {
    height: 40vh;
}

#ui-mode {
    font-size: 36px;
    text-transform: uppercase;
}

table.d-pad-table {
    empty-cells: hide;
    border: 0;
    width: auto;
}
.d-pad-table td {
    width: 50px;
    height: 50px;
    border: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle
} 
.d-pad-table td.h {
    border: 1px solid black;
    font-weight: bold;
    font-size: 1em;
}
.d-pad-table td.present {
    background-color: #4CAF50;
}

.d-pad-table td.hit,
.d-pad-table td.present.hit {
    background-color: #00E676;
}

#mainCanvas {
    width: 50vw;
    height: 50vh;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 3vh;
	padding-top: 5px;
}